# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#CUSTOM
public/3d/AMAN/
public/3d/ESA/
public/3d/PCL/
public/3d/PCL/
public/3d/estatua.glb

public/street_view/IMG/*.webp
public/street_view/IMG/*.jpg
public/street_view/METADATA/*.json

.env.production
.env.development