.top-bar {
    background-color: #fbfbfa;
    color: #000000;
    border-bottom: 0.5mm solid #EEEEEE;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-weight: bold;
  }
  
  .eb {
    color: #80AF81;
  }
  
  .geo {
    color: black;
  }
  
  .bar-center-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .button.icon-button {
    margin: 0 10px;
  }
  
  .extra-bar-buttons {
    margin-left: auto;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }